.hero {
    background-color: $sky-color;
    .container {
        @media (min-width: 769px) and (max-width: 991px) {
            height: 92vh;
        }
        .row {
            @media (max-width: 991px){
                height: 100%;
            }
            .hero-text {
                position: absolute;
                top: 47%;
                font-family: 'Merriweather Sans', sans-serif;
                @media (max-width: 1120px){
                    top: 34%
                }
                @media (max-width: 991px){
                    top: 25%;
                    padding-block: 3rem;
                }
                @media (max-width: 768px) {
                    position: unset;
                    margin-block: 4rem;
                }

                @media (max-width: 450px) {
                    text-align: center;
                }

                h1 {
                    width: 60%;
                    font-weight: 700;
                    font-size: 2.55rem;
                    color: $blue-color;
                    @media (max-width: 991px){
                        font-size: 2.5rem;
                    }
                    @media (max-width: 450px) {
                        margin: auto;
                        font-size: 2.3rem;
                        width: 95%;
                    }
                    
                }

                p {
                    width: 90%;
                    font-weight: 200;
                    font-size: .9rem;
                    margin-block: 1.5rem;
                }

                .btn {
                    padding: .7rem 2.8rem;
                    color: $white-color;
                    background-color: $yellow-color;
                }

            }

            .hero-img {
                position: relative;
                left: 50%;
                @media (max-width: 768px) {
                    position: unset;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

    }
}